    <section class="section section-lg pt-0">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card bg-primary shadow-soft border-light p-4">
                        <div class="row">
                            <div class="col-12 col-lg-4 px-md-0">
                                <div class="card-body text-center bg-primary py-5">
                                    <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                        <span class="fas fa-puzzle-piece"></span>
                                    </div>
                                    <!-- Heading -->
                                    <h2 class="h4 mr-2">
                                        محصولات
                                    </h2>
                                    <!-- Text -->
                                    <p class="mb-0"> فعالیت در در زمینه تصویر برداری و آزمایشگاهی</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                                <div class="card-body text-center bg-primary py-5">
                                    <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                        <span class="fas fa-medal"></span>
                                    </div>
                                    <!-- Heading -->
                                    <h2 class="h4 mr-2">
                                        تجارب
                                    </h2>
                                    <!-- Text -->
                                    <p class="mb-0">با بیش از 27 سال تجربه در زمینه تجهیزات پزشکی</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                                <div class="card-body text-center bg-primary py-5">
                                    <div class="icon icon-shape shadow-inset border-light rounded-circle mb-3">
                                        <span class="far fa-eye"></span>
                                    </div>
                                    <!-- Heading -->
                                    <h2 class="h4 mr-2">
                                        هدف
                                    </h2>
                                    <!-- Text -->
                                    <p class="mb-0">کار با برترین برند های جهانی</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section -->
    <section class="section section-lg pt-0">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-xl-6 mb-5">
                    <div class="card bg-primary shadow-soft border-light organic-radius p-3">
                        <img class="organic-radius img-fluid" src="../../assets/img/about-us-1.jpg" alt="modern desk">
                    </div>
                </div>
                <div class="col-md-6 col-xl-5 text-center text-md-left">
                    <h2 class="h1 mb-4">تکاپوطب</h2>
                    <p class="lead text-right" style="word-wrap: break-word; display: inline-block;">شرکت تکاپوطب در زمینه ی تجهیزات پزشکی از سال 1372 با هدف اصلی کمک به سلامت جامعه در دو بخش آزمایشگاهی وتصویربرداری فعالیت خود را آغاز کرده است .</p>
                    <p class="text-right" style="word-wrap: break-word;display: inline-block;">این شرکت برای پیشبرد هدف اصلی خود تلاش دارد که با استفاده از تکنولوژیهای برتر دنیا و مدیریت بهینه و افراد متخصص با کیفیت ترین خدمات را در اختیار متخصصین و پزشکان در مراکز درمانی ، آموزشی و تحقیقاتی قرار دهد . به همین منظور همواره شرکت تکاپوطب کوشیده است که با استحکام ارتباط خود با شرکت های معتبر اروپایی و آمریکایی دنیا رضایت مشتریان خود راهر چه بیشتر فراهم کند</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row col">
                <p class="text-right" style="word-wrap: break-word;display: inline-block;">
                    از آنجا که شعار این شرکت همواره رضایتمندی مشتریان بوده است، افراد متخصص و مشغول به کار در آن دارای مدارک تحصیلی و تجربه کافی می باشند. شرکت تکاپوطب اکنون دارای نمایندگی انحصاری از بهترین و معتبرترین کمپانیهای امریکایی و اروپایی است. شایان ذکر است شرکت تکاپوطب از جمله اولین شرکت هایی است که به عضویت شبکه ی جهانی IQNET درآمده است و دارای گواهینامه ی ISO 9001:2015 , ISO 13485:2016 ( مدیریت کیفیت تجهیزات پزشکی ) می باشد .
                </p>
            </div>
        </div>
    </section>
