<div class="section bg-primary pt-0 section-lg">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Imaging" asp-route-name="mammography3d">
                        <img src="~/assets/img/Imaging/3Dimensions.jpg" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">ماموگرافی سه بعدی</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Imaging" asp-route-name="mammography2d">
                        <img src="~/assets/img/Imaging/2Dimensions.jpg" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">ماموگرافی دو بعدی</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Imaging" asp-route-name="horizon">
                        <img src="~/assets/img/Imaging/horizon.jpg" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">سنجش تراکم استخوان</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Imaging" asp-route-name="c-arm">
                        <img src="~/assets/img/Imaging/c-arm.png" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">مینی سی آرم دیجیتال</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Imaging" asp-route-name="padmammo">
                        <img src="~/assets/img/Imaging/mammopad.png" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">پد ماموگرافی</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Imaging" asp-route-name="biopsy">
                        <img src="~/assets/img/Imaging/biopsy.jpg" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">کنسول وکیوم بایوپسی پستان</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Imaging" asp-route-name="vaccum">
                        <img src="~/assets/img/Imaging/vaccum.png" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">کنسول وکیوم بایوپسی</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Imaging" asp-route-name="affirm">
                        <img src="~/assets/img/Imaging/affirm.png" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">سیستم تومو بایوپسی</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Imaging" asp-route-name="needles">
                        <img src="~/assets/img/Imaging/ATEC.png" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">سوزن ها</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>