<div class="row">
    <div class="col-12 col-sm-6">
        <div class="card bg-primary shadow-soft border-light">
            <img src="@model.Path" alt="apple watch">
            <div class="card-footer border-top border-light p-4">
                <a href="#" class="h5">Apple watch</a>
                <div class="mt-2">$299.00</div>
            </div>
        </div>
    </div>
</div>