<div class="section bg-primary pt-0 section-lg">
    <div class="container">

        <div class="row mb-5">

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Laboratory" asp-route-name="bactec">
                        <img src="~/assets/img/bactec-fx.webp" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">دستگاه کشت خون اتوماتیک</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Laboratory" asp-route-name="phoenix">
                        <img src="~/assets/img/Laboratory/phoenix.webp" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">سیستم تعیین هویت و حساسیت آنتی بیوتیک</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Laboratory" asp-route-name="panther">
                        <img src="~/assets/img/Laboratory/Panther.png" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">سیستم اتوماتیک تشخیص مولکولی</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Laboratory" asp-route-name="flow">
                        <img src="~/assets/img/Laboratory/flow.jpg" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">سیستم فلوسایتومتری</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Laboratory" asp-route-name="thinprep">
                        <img src="~/assets/img/Laboratory/thinprep.jpg" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">دستگاه اتوماتیک تهیه لام</h3>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-5">
                <div class="card bg-primary border-light shadow-soft">
                    <a asp-area="Fa" asp-controller="Home" asp-action="Laboratory" asp-route-name="fibro">
                        <img src="~/assets/img/Laboratory/FFN.jpg" class="card-img-top rounded-top" alt="Themesberg office">
                        <div class="card-body">
                            <h3 class="h5 card-title mt-3 text-center">تست فیبرونکتین جنینی</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>